<!--
  ~ Copyright (c) 2013 – 2015 Ricki Hirner (bitfire web engineering).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU
  ~ General Public License as published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
  ~ PURPOSE.  See the GNU General Public License for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- read/write Android calendars -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- read/write tasks (OpenTasks) -->
    <uses-permission android:name="org.dmfs.permission.READ_TASKS" />
    <uses-permission android:name="org.dmfs.permission.WRITE_TASKS" />

    <!-- read/write tasks (tasks.org) -->
    <uses-permission android:name="org.tasks.permission.READ_TASKS" />
    <uses-permission android:name="org.tasks.permission.WRITE_TASKS" />

    <!-- read/write tasks & journals (jtx Board) -->
    <uses-permission android:name="at.techbee.jtx.permission.READ" />
    <uses-permission android:name="at.techbee.jtx.permission.WRITE" />

    <application />

    <queries>
        <!-- task providers -->
        <package android:name="at.techbee.jtx" />
        <package android:name="org.dmfs.tasks" />
        <package android:name="org.tasks" />
    </queries>

</manifest>