name: Development tests
on: push
jobs:
  test:
    name: Tests without emulator
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11
          cache: 'gradle'
      - uses: gradle/wrapper-validation-action@v1

      - name: Check
        run: ./gradlew check
      - name: Archive results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            build/outputs/lint*
            build/reports

  test_on_emulator:
    name: Tests with emulator
    runs-on: privileged
    container:
      image: ghcr.io/bitfireat/docker-android-ci:main
      options: --privileged
      env:
        ANDROID_HOME: /sdk
        ANDROID_AVD_HOME: /root/.android/avd
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: gradle/wrapper-validation-action@v1

      - name: Cache APKs and gradle dependencies
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-1
          path: |
            ~/.apk
            ~/.gradle/caches
            ~/.gradle/wrapper

      - name: Start emulator
        run: start-emulator.sh
      - name: Install task apps
        run: |
          mkdir .apk && cd .apk
          wget -cq -O org.dmfs.tasks.apk https://f-droid.org/archive/org.dmfs.tasks_80800.apk && adb install org.dmfs.tasks.apk
          wget -cq -O org.tasks.apk https://f-droid.org/archive/org.tasks_120400.apk && adb install org.tasks.apk
          wget -cq -O at.techbee.jtx.apk https://f-droid.org/archive/at.techbee.jtx_100140002.apk && adb install at.techbee.jtx.apk
          cd ..
      - name: Run connected tests
        run: ./gradlew connectedCheck -Pandroid.testInstrumentationRunnerArguments.notAnnotation=androidx.test.filters.FlakyTest
      - name: Archive results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            build/reports
